services:
  kokomen-interview-api-dev:
    image: samhap/kokomen-interview-api:dev
    container_name: kokomen-interview-api-dev
    restart: on-failure:3
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - ./interview/api/app/logs:/logs
    environment:
      TZ: Asia/Seoul
      JAVA_TOOL_OPTIONS: -Duser.timezone=Asia/Seoul
      HOSTNAME: ${HOSTNAME}
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL_DEV: ${SPRING_DATASOURCE_URL_DEV}
      SPRING_DATASOURCE_USERNAME_DEV: ${SPRING_DATASOURCE_USERNAME_DEV}
      SPRING_DATASOURCE_PASSWORD_DEV: ${SPRING_DATASOURCE_PASSWORD_DEV}
      OPEN_AI_API_KEY: ${OPEN_AI_API_KEY}
      KAKAO_CLIENT_ID_DEV: ${KAKAO_CLIENT_ID_DEV}
      KAKAO_CLIENT_SECRET_DEV: ${KAKAO_CLIENT_SECRET_DEV}
      KAKAO_ADMIN_KEY_DEV: ${KAKAO_ADMIN_KEY_DEV}
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      SUPERTONE_API_TOKEN: ${SUPERTONE_API_TOKEN}
      GOOGLE_CLIENT_ID_DEV: ${GOOGLE_CLIENT_ID_DEV}
      GOOGLE_CLIENT_SECRET_DEV: ${GOOGLE_CLIENT_SECRET_DEV}
    networks:
      - dev-kokomen-net

  node:
    image: prom/node-exporter
    container_name: node
    restart: unless-stopped
    pid: host
    ports:
      - 9100:9100
    command:
      - '--path.rootfs=/host'
    volumes:
      - '/:/host:ro'
    environment:
      TZ: Asia/Seoul
    networks:
      - dev-kokomen-net

  kokomen-mysql-dev:
    image: mysql:8.4.5
    container_name: kokomen-mysql-dev
    command:
      [
        "mysqld",
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_general_ci"
      ]
    volumes:
      - mysql-data:/var/lib/mysql
      - mysql-init:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306
    restart: always
    environment:
      TZ: Asia/Seoul
      MYSQL_USER: ${SPRING_DATASOURCE_USERNAME_DEV}
      MYSQL_PASSWORD: ${SPRING_DATASOURCE_PASSWORD_DEV}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD_DEV}
      MYSQL_DATABASE: kokomen-dev
      LANG: C.UTF-8
      MYSQL_INIT_CONNECT: "SET NAMES utf8mb4"
    networks:
      - dev-kokomen-net

  kokomen-redis-dev:
    image: valkey/valkey:8.0.1
    container_name: kokomen-redis-dev
    ports:
      - 6379:6379
    volumes:
      - kokomen-redis-data:/data
    environment:
      TZ: Asia/Seoul
    networks:
      - dev-kokomen-net

  loki:
    image: grafana/loki
    container_name: loki
    restart: unless-stopped
    ports:
      - 3100:3100
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki:/loki
    environment:
      TZ: Asia/Seoul
    networks:
      - dev-kokomen-net

  promtail:
    image: grafana/promtail
    container_name: promtail
    volumes:
      - ./promtail/promtail.yaml:/etc/promtail/promtail.yaml
      - ./interview/api/app/logs:/logs/interviews/api
      - promtail-tmp:/tmp
    command:
      - "-config.file=/etc/promtail/promtail.yaml"
      - "-config.expand-env=true"
    restart: unless-stopped
    environment:
      TZ: Asia/Seoul
      HOSTNAME: ${HOSTNAME}
    networks:
      - dev-kokomen-net

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - prometheus:/prometheus
    ports:
      - 9090:9090
    entrypoint:
      - sh
      - -euc
      - |
        cat <<EOF > /prometheus/prometheus.yml
        scrape_configs:
          - job_name: 'api-actuator'
            metrics_path: '/actuator/prometheus'
            scrape_interval: 15s
            static_configs:
              - targets: ['kokomen-interview-api-dev:8081']

          - job_name: 'node'
            scrape_interval: 15s
            static_configs:
              - targets: ['node:9100']
        EOF
        /bin/prometheus
    environment:
      TZ: Asia/Seoul
    networks:
      - dev-kokomen-net

  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    volumes:
      - grafana:/var/lib/grafana
    environment:
      GF_AUTH_ANONYMOUS_ENABLED: true
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin
      TZ: Asia/Seoul
    ports:
      - 3015:3000
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /etc/grafana/provisioning/datasources
        cat <<EOF > /etc/grafana/provisioning/datasources/ds.yaml
        apiVersion: 1
        datasources:
        - name: Loki
          type: loki
          access: proxy
          orgId: 1
          url: http://loki:3100
          basicAuth: false
          isDefault: true
          version: 1
          editable: false

        - name: Prometheus
          type: prometheus
          access: proxy
          orgId: 1
          url: http://prometheus:9090
          basicAuth: false
          isDefault: false
          editable: false
        EOF
        /run.sh
    networks:
      - dev-kokomen-net

volumes:
  promtail-tmp:
  mysql-data:
  mysql-init:
  kokomen-redis-data:
  loki:
  prometheus:
  grafana:

networks:
  dev-kokomen-net:
    external: true
    driver: bridge
